* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Gambetta;font-display: swap;src: url("../assets/fonts/Gambetta-LightItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?e6b209dd8a6debd0045779e9defee2ea") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-whatsapp"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-twitter"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-twitch"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-tiktok"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-pinterest"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-link"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-envelope"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-dribbble"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-behance"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-arrow-rotated"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-arrow-diagonal"]::before { 
		content: "\f114"; 
	} 
html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
html::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bgColor);
  z-index: 1000;
  transition: opacity 1s;
  pointer-events: none;
}
html[data-fls-loaded]::after {
  opacity: 0;
}

body {
  min-width: 20rem;
  color: rgb(218, 197, 167);
  font-family: "Chillax", sans-serif;
  font-size: 1rem;
  background-color: var(--bgColor);
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[class*=-arrow-up]::before {
  transform: rotate(0deg);
}

[class*=-arrow-diagonal-up-right]::before {
  transform: rotate(0deg);
}

[class*=-arrow-right]::before {
  transform: rotate(90deg);
}

[class*=-arrow-diagonal-down-right]::before {
  transform: rotate(90deg);
}

[class*=-arrow-down]::before {
  transform: rotate(180deg);
}

[class*=-arrow-diagonal-down-left]::before {
  transform: rotate(180deg);
}

[class*=-arrow-left]::before {
  transform: rotate(270deg);
}

[class*=-arrow-diagonal-up-left]::before {
  transform: rotate(270deg);
}

.--icon-behance::before {
  padding-bottom: 0.25rem;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem 1.25rem;
}
.menu__link {
  letter-spacing: 0.09375rem;
  line-height: 1.6;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s;
  color: var(--mainColor-subtle);
}
.menu__link::after {
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: var(--mainColor-subtle);
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: width 0.3s, left 0.3s;
}
.menu__link--active {
  color: var(--mainColor);
}
.menu__link--active::after {
  width: 100%;
  left: 0;
}

.icon-menu {
  display: none;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0.9375rem;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;
  transition: top 0.3s;
}
.header__container {
  pointer-events: auto;
}
.header__body {
  display: flex;
  align-items: center;
}
.header__body {
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  position: relative;
}
.header__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.9375rem);
  border-radius: 0.125rem;
  border: 0.0625rem solid var(--mainColor-muted);
  background-color: var(--mainColor-hint);
  z-index: 3;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__button {
  position: relative;
  z-index: 5;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  top: 0.9375rem;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: var(--mainColor-hint);
}
.footer__container {
  max-width: 100rem;
  margin: 0 auto;
}
.footer__body {
  display: flex;
}
.body-footer__content {
  display: flex;
  flex: 0 1 28.75%; /* 460/1600 */
  flex-direction: column;
  align-items: flex-start;
}
.body-footer__socials {
  display: flex;
  flex-wrap: wrap;
}
.body-footer__socials {
  gap: 1rem;
}
.body-footer__lists {
  display: flex;
  flex-wrap: wrap;
}
.body-footer__lists {
  flex-grow: 1;
}
.body-footer__menu {
  flex-grow: 1;
}
.body-footer__title {
  color: var(--mainColor);
  font-size: 1.25rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  line-height: 1.4; /* 28/20 */
  letter-spacing: 0.0625rem;
}
.--spoller-init .body-footer__title {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  justify-content: center;
}
.--spoller-init .body-footer__title::after {
  content: "\f112";
  font-family: "iconfont";
  transition: rotate 0.3s;
  rotate: 180deg;
  font-size: 0.625rem;
}
.--spoller-active .body-footer__title::after {
  rotate: 0deg;
}
.body-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.body-footer__link {
  color: var(--mainColor-subtle);
  font-size: 0.8125rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  line-height: 1.615385; /* 21/13 */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
}
.body-footer__link::after {
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: var(--mainColor-subtle);
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: width 0.3s, left 0.3s;
}
.body-footer__button {
  margin-top: 1rem;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.bottom-footer__copyright {
  color: var(--mainColor-subtle);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.833333; /* 22/12 */
  letter-spacing: 0.03125rem;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.5625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  color: var(--mainColor);
  background: var(--mainColor-hint);
  border: 0.0625rem solid var(--mainColor-muted);
  font-family: "Satoshi", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.615385; /* 21/13 */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  backdrop-filter: blur(0.9375rem);
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.button--fw {
  width: 100%;
}
.button--inverted {
  background-color: var(--mainColor);
  color: var(--secondaryColor);
}
.button--inverted:active {
  border: 0.0625rem solid var(--mainColor-hint);
}
.button--icon {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
.button--icon::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  inline-size: 1.125rem;
  block-size: 1.125rem;
}
.button--text {
  background-color: transparent;
  padding: 0;
  border: 0;
  gap: 0.75rem;
}
.button--text::before {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  inline-size: 2rem;
  block-size: 2rem;
  border-radius: 50%;
  color: var(--mainColor);
  background: var(--mainColor-hint);
  border: 0.0625rem solid var(--mainColor-muted);
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  letter-spacing: normal;
}
.button--text-big {
  gap: 1rem;
}
.button--text-big::before {
  font-size: 0.9375rem;
  inline-size: 2.875rem;
  block-size: 2.875rem;
}
.button--icon-arrow-up {
  flex-direction: row-reverse;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */
.socials--text .socials__link span {
  transition: all 0.3s;
  color: var(--mainColor-subtle);
  font-size: 0.8125rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  line-height: 1.615385; /* 21/13 */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.socials--text .socials__link {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.socials__link::before {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  aspect-ratio: 1;
  width: 2.875rem;
  border-radius: 50%;
  color: var(--mainColor);
  background: var(--mainColor-hint);
  border: 0.0625rem solid var(--mainColor-muted);
  backdrop-filter: blur(0.9375rem);
  transition: all 0.3s;
}html {
  --mainColor: rgb(218, 197, 167);
  --mainColor-subtle: rgba(218, 197, 167, 0.6);
  --mainColor-subtle-opaque:#1A1412;
  --mainColor-muted: rgba(218, 197, 167, 0.15);
  --mainColor-hint: rgba(218, 197, 167, 0.05);
  --mainColor-hint-opaque: #181715;
  --bgColor: #0E0E0E;
  --bgColor-transparent: rgba(14, 14, 14, 0.98);
  --secondaryColor: #0E0E0E;
  --secondaryFontFamily: $secondaryFontFamily;
}

/* Generated by vite-plugin-svg-spritemap */

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: 100%;
    top: 0;
    overflow: auto;
    background-color: var(--bgColor-transparent);
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: 100%;
    background-color: var(--bgColor-transparent);
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu {
    left: 0;
  }
  [data-fls-menu-open] .menu::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--mainColor);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    opacity: 1;
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
    opacity: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header__body {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 0.75rem;
  }
  .footer__body {
    flex-direction: column;
  }
  .body-footer__content {
    align-items: center;
  }
  .body-footer__socials {
    align-items: center;
    gap: 1.5rem;
  }
  .socials--text .socials__link span {
    display: none;
  }
}

@media (max-width: 34.375em) {
  .body-footer__lists {
    flex-direction: column;
    align-items: center;
  }
  .body-footer__title {
    text-align: center;
  }
  .body-footer__item {
    text-align: center;
  }
  .bottom-footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 20em) {
  .header__body {
    gap: 1.5rem;
  }
  .footer {
    padding-block: 1.875rem;
  }
  .footer__body {
    gap: 1.25rem;
  }
  .footer__body {
    margin-bottom: 2.5rem;
  }
  .body-footer__content {
    gap: 1.25rem;
  }
  .body-footer__lists {
    gap: 1.25rem;
  }
  .body-footer__list {
    padding-top: 1.25rem;
  }
}

@media (width > 20em) and (width <= 87.5em) {
  .header__body {
    gap: clamp( 1.5rem , 1.35185185185rem  +  0.7407407407vw , 2rem );
  }
  .footer {
    padding-block: clamp( 1.875rem , 1.24537037036875rem  +  3.1481481481vw , 4rem );
  }
  .footer__body {
    gap: clamp( 1.25rem , 0.4351851851875rem  +  4.0740740741vw , 4rem );
  }
  .footer__body {
    margin-bottom: clamp( 2.5rem , 1.75925925925625rem  +  3.7037037037vw , 5rem );
  }
  .body-footer__content {
    gap: clamp( 1.25rem , 0.824074074075rem  +  2.1296296296vw , 2.6875rem );
  }
  .body-footer__lists {
    gap: clamp( 1.25rem , 0.4351851851875rem  +  4.0740740741vw , 4rem );
  }
  .body-footer__list {
    padding-top: clamp( 1.25rem , 1.027777777775rem  +  1.1111111111vw , 2rem );
  }
}

@media (min-width: 47.99875em) {
  .menu {
    z-index: 5;
  }
  .header {
    top: 3rem;
    display: flex;
    justify-content: center;
  }
  .body-footer__socials {
    flex-direction: column;
  }
}

@media (width > 87.5em) {
  .header__body {
    gap: 2rem;
  }
  .footer {
    padding-block: 4rem;
  }
  .footer__body {
    gap: 4rem;
  }
  .footer__body {
    margin-bottom: 5rem;
  }
  .body-footer__content {
    gap: 2.6875rem;
  }
  .body-footer__lists {
    gap: 4rem;
  }
  .body-footer__list {
    padding-top: 2rem;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--mainColor);
  }
  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }
  .body-footer__link:hover {
    color: var(--mainColor);
  }
  .body-footer__link:hover::after {
    width: 100%;
    left: 0;
  }
  .button:hover {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
  }
  .button--inverted:hover {
    background: var(--mainColor-hint);
    color: var(--mainColor);
  }
  .button--text:hover {
    color: var(--mainColor);
    background-color: transparent;
  }
  .button--text:hover::before {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
  }
  .socials__link:hover span {
    color: var(--mainColor);
  }
  .socials__link:hover::before {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
  }
}