.privacy-policy__container * {
  line-height: 1.3;
}
.privacy-policy__title {
  padding-block: 0.625rem;
}
.privacy-policy__body {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.privacy-policy__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-left: 1.25rem;
}
.list-privacy-policy__item a {
  position: relative;
}
.list-privacy-policy__item a::before {
  content: "";
  height: 0.5625rem;
  width: 0.5625rem;
  position: absolute;
  top: 50%;
  left: -0.9375rem;
  background-color: var(--primary);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, background-color 0.6s;
  transform: translate(-50%, -50%);
}
.list-privacy-policy__item a:hover::before {
  opacity: 1;
  transform: translate(0, -50%);
}
@media (max-width: 20em) {
  .privacy-policy__container {
    padding-block: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 121.875em) {
  .privacy-policy__container {
    padding-block: clamp( 5rem , 4.14110429448125rem  +  4.2944785276vw , 9.375rem );
  }
}
@media (min-width: 121.875em) {
  .privacy-policy__container {
    padding-block: 9.375rem;
  }
}