html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */
.button {
  padding: 0.3125rem 0.9375rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.571429; /* 22/14 */
  letter-spacing: 0.125rem;
  border-radius: 1.125rem;
  color: var(--buttonColor);
  transition: all 0.3s;
}
.button:active {
  scale: 0.95;
}
.button--blue {
  background-color: var(--colorBlue);
  border: 0.0625rem solid var(--colorBlue);
}
.button--blue:active {
  background-color: var(--colorBG);
}
.button--green {
  background-color: var(--colorGreen);
  border: 0.0625rem solid var(--colorGreen);
}
.button--green:active {
  background-color: var(--colorBG);
}
.button--orange {
  background-color: var(--colorOrange);
  border: 0.0625rem solid var(--colorOrange);
}
.button--orange:active {
  background-color: var(--colorBG);
}
.button--pink {
  background-color: var(--colorPink);
  border: 0.0625rem solid var(--colorPink);
}
.button--pink:active {
  background-color: var(--colorBG);
}
@media (any-hover: hover), (pointer: fine) {
  html:not([data-fls-touch]) .button:hover {
    color: var(--buttonColorActive);
  }
  .button--blue:hover {
    background-color: var(--colorBlue-subtle);
    border: 0.0625rem solid var(--buttonColorActive);
  }
  .button--green:hover {
    background-color: var(--colorGreen-subtle);
    border: 0.0625rem solid var(--buttonColorActive);
  }
  .button--orange:hover {
    background-color: var(--colorOrange-subtle);
    border: 0.0625rem solid var(--buttonColorActive);
  }
  .button--pink:hover {
    background-color: var(--colorPink-subtle);
    border: 0.0625rem solid var(--buttonColorActive);
  }
}