html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */
.distribution-services__list {
  display: flex;
  flex-wrap: wrap;
}
.distribution-services__item {
  flex: 1 1 25rem;
}

.item-distribution-services {
  background-color: var(--colorBGSecondary);
}
.item-distribution-services {
  border-radius: 3.125rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.distribution-products__title {
  text-align: center;
}
.distribution-products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31.25rem, 1fr));
}
.distribution-products__item {
  flex: 1 1 31.25rem;
}

.item-distribution-products {
  position: relative;
  border-radius: 2.5rem;
  overflow: hidden;
  transition: all 0.3s;
}
.item-distribution-products:active .item-distribution-products__image {
  opacity: 0.5;
  scale: 1;
}
.item-distribution-products__picture {
  width: 100%;
  height: 100%;
}
.item-distribution-products__image {
  opacity: 0.75;
  transition: all 0.3s;
  scale: 1.02;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-distribution-products__body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--colorBG-subtle);
}
.item-distribution-products__title {
  font-weight: 600;
}
@media (max-width: 47.99875em) {
  .distribution-services__list {
    display: grid;
  }
  .item-distribution-services__title {
    text-align: center;
  }
}
@media (width <= 20em) {
  .page--distribution-services {
    padding-top: 6.25rem;
  }
  .distribution-services {
    padding-block: 2.5rem;
  }
  .distribution-services__list {
    gap: 1.25rem;
  }
  .item-distribution-services {
    padding: 1.25rem;
  }
  .item-distribution-services {
    gap: 0.9375rem;
  }
  .distribution-products__title {
    margin-bottom: 2.5rem;
  }
  .distribution-products__list {
    gap: 1.875rem;
  }
  .item-distribution-products__body {
    padding-inline: 0.9375rem;
  }
  .item-distribution-products__body {
    padding-block: 0.625rem;
  }
  .item-distribution-products__title {
    font-size: 1.125rem;
  }
  .item-distribution-products__title {
    margin-bottom: 0.625rem;
  }
}
@media (width > 20em) and (width <= 75em) {
  .page--distribution-services {
    padding-top: clamp( 6.25rem , 5.1136363636375rem  +  5.6818181818vw , 9.375rem );
  }
  .distribution-services {
    padding-block: clamp( 2.5rem , 1.1363636363625rem  +  6.8181818182vw , 6.25rem );
  }
  .distribution-services__list {
    gap: clamp( 1.25rem , 1.022727272725rem  +  1.1363636364vw , 1.875rem );
  }
  .item-distribution-services {
    padding: clamp( 1.25rem , 0.56818181818125rem  +  3.4090909091vw , 3.125rem );
  }
  .item-distribution-services {
    gap: clamp( 0.9375rem , 0.59659090909375rem  +  1.7045454545vw , 1.875rem );
  }
  .distribution-products__title {
    margin-bottom: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .distribution-products__list {
    gap: clamp( 1.875rem , 1.42045454545625rem  +  2.2727272727vw , 3.125rem );
  }
  .item-distribution-products__body {
    padding-inline: clamp( 0.9375rem , 0.59659090909375rem  +  1.7045454545vw , 1.875rem );
  }
  .item-distribution-products__body {
    padding-block: clamp( 0.625rem , 0.397727272725rem  +  1.1363636364vw , 1.25rem );
  }
  .item-distribution-products__title {
    font-size: clamp( 1.125rem , 0.9886363636375rem  +  0.6818181818vw , 1.5rem );
  }
  .item-distribution-products__title {
    margin-bottom: clamp( 0.625rem , 0.5113636363625rem  +  0.5681818182vw , 0.9375rem );
  }
}
@media (width > 75em) {
  .page--distribution-services {
    padding-top: 9.375rem;
  }
  .distribution-services {
    padding-block: 6.25rem;
  }
  .distribution-services__list {
    gap: 1.875rem;
  }
  .item-distribution-services {
    padding: 3.125rem;
  }
  .item-distribution-services {
    gap: 1.875rem;
  }
  .distribution-products__title {
    margin-bottom: 5rem;
  }
  .distribution-products__list {
    gap: 3.125rem;
  }
  .item-distribution-products__body {
    padding-inline: 1.875rem;
  }
  .item-distribution-products__body {
    padding-block: 1.25rem;
  }
  .item-distribution-products__title {
    font-size: 1.5rem;
  }
  .item-distribution-products__title {
    margin-bottom: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .item-distribution-products:hover .item-distribution-products__image {
    opacity: 1;
    scale: 1.05;
  }
}