html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */

.types-fridges__title {
  text-align: center;
}
.types-fridges__body {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.types-fridges__item {
  border-radius: 2.5rem;
  flex: 1 1 25rem;
  max-width: 31.25rem;
}

.item-types-fridges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375rem;
  background-color: var(--colorBGSecondary);
}
.item-types-fridges__picture {
  max-width: 60%;
}
.item-types-fridges__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
.item-types-fridges__title {
  color: #fff;
}
.item-types-fridges__title {
  font-weight: 400;
  line-height: 1.35; /* 27/20 */
}
.item-types-fridges__description {
  line-height: 1.2;
}
@media (width <= 20em) {
  .page--fridges {
    padding-bottom: 2.5rem;
  }
  .fridges__hero {
    padding-top: 5rem;
  }
  .fridges__hero {
    padding-bottom: 2.5rem;
  }
  .fridges__types {
    padding-block: 2.5rem;
  }
  .types-fridges__title {
    margin-bottom: 0.9375rem;
  }
  .types-fridges__item {
    padding: 1.25rem;
  }
  .item-types-fridges__title {
    font-size: 1rem;
  }
}
@media (width > 20em) and (width <= 75em) {
  .page--fridges {
    padding-bottom: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .fridges__hero {
    padding-top: clamp( 5rem , 1.81818181818125rem  +  15.9090909091vw , 13.75rem );
  }
  .fridges__hero {
    padding-bottom: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .fridges__types {
    padding-block: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .types-fridges__title {
    margin-bottom: clamp( 0.9375rem , 0.36931818181875rem  +  2.8409090909vw , 2.5rem );
  }
  .types-fridges__item {
    padding: clamp( 1.25rem , 0.79545454545625rem  +  2.2727272727vw , 2.5rem );
  }
  .item-types-fridges__title {
    font-size: clamp( 1rem , 0.90909090909375rem  +  0.4545454545vw , 1.25rem );
  }
}
@media (width > 75em) {
  .page--fridges {
    padding-bottom: 5rem;
  }
  .fridges__hero {
    padding-top: 13.75rem;
  }
  .fridges__hero {
    padding-bottom: 5rem;
  }
  .fridges__types {
    padding-block: 5rem;
  }
  .types-fridges__title {
    margin-bottom: 2.5rem;
  }
  .types-fridges__item {
    padding: 2.5rem;
  }
  .item-types-fridges__title {
    font-size: 1.25rem;
  }
}