html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */
.hero__container {
  display: flex;
  align-items: start;
}
.hero--reverse .hero__container {
  flex-direction: row-reverse;
}
.hero__media {
  position: relative;
  max-width: 32rem;
}
.hero__image {
  position: relative;
  z-index: 2;
}
.hero__image--cut {
  border-radius: 50% 50% 0rem 50%;
}
.hero__decor {
  position: absolute;
  z-index: 1;
  bottom: -15%;
  right: -15%;
  opacity: 0.15;
  max-width: 50%;
}
.hero__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: start;
  flex: 1 1 0.625rem;
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.list-hero__item {
  position: relative;
  display: flex;
  padding-left: 1.5rem;
}
.list-hero__item::before {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: #ffcc00;
  border-radius: 50%;
  position: absolute;
}
.list-hero__item::before {
  left: 0;
  flex-shrink: 0;
}
.list-hero__sublist {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.sublist-hero__body {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.sublist-hero__item {
  position: relative;
  display: flex;
  gap: 0.9375rem;
}
.sublist-hero__item::before {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: #ffcc00;
  border-radius: 50%;
  position: relative;
}
.sublist-hero__item::before {
  flex-shrink: 0;
}
@media (max-width: 61.99875em) {
  .hero__container {
    flex-direction: column;
    align-items: center;
  }
  .hero--reverse .hero__container {
    flex-direction: column;
    align-items: center;
  }
}
@media (width <= 20em) {
  .hero__container {
    gap: 1.25rem;
  }
  .hero__list {
    padding-left: 1.25rem;
  }
  .list-hero__item::before {
    top: 0.375rem;
  }
  .sublist-hero__body {
    padding-left: 1.25rem;
  }
  .sublist-hero__item::before {
    top: 0.375rem;
  }
}
@media (width > 20em) and (width <= 75em) {
  .hero__container {
    gap: clamp( 1.25rem , 0.79545454545625rem  +  2.2727272727vw , 2.5rem );
  }
  .hero__list {
    padding-left: clamp( 1.25rem , 0.56818181818125rem  +  3.4090909091vw , 3.125rem );
  }
  .list-hero__item::before {
    top: clamp( 0.375rem , 0.28409090909375rem  +  0.4545454545vw , 0.625rem );
  }
  .sublist-hero__body {
    padding-left: clamp( 1.25rem , 0.56818181818125rem  +  3.4090909091vw , 3.125rem );
  }
  .sublist-hero__item::before {
    top: clamp( 0.375rem , 0.28409090909375rem  +  0.4545454545vw , 0.625rem );
  }
}
@media (width > 75em) {
  .hero__container {
    gap: 2.5rem;
  }
  .hero__list {
    padding-left: 3.125rem;
  }
  .list-hero__item::before {
    top: 0.625rem;
  }
  .sublist-hero__body {
    padding-left: 3.125rem;
  }
  .sublist-hero__item::before {
    top: 0.625rem;
  }
}