html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */

.about-us__container {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}
.about-us__media {
  display: block;
  aspect-ratio: 1/1;
  min-width: 31.25rem;
}
.about-us__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 75% 25% 12% 88%/93% 0% 100% 7%;
}
.about-us__title {
  color: #fff;
  font-size: 3.1875rem;
  text-align: left;
  font-weight: 500;
  line-height: 3.8125rem;
  margin-bottom: 2.5rem;
}
.about-us__text {
  color: #9c9c9c;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6875rem;
}
.about-us__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.categories__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.categories__title {
  color: #7d806a;
  font-size: 3.125rem;
  font-weight: 700;
  color: #2b2a29;
  text-align: center;
  padding-bottom: 9.375rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}
.categories__body {
  background-color: #4c5256;
}
.categories__items {
  padding-block: 4.375rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}
.categories__items--column-one {
  align-items: start;
}
.categories__items--column-two {
  align-items: end;
}
.categories__items--column-two .categories__link {
  flex-direction: row-reverse;
}
.categories__link {
  color: #fefefe;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.categories__link::before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background-color: #ffcc00;
  border-radius: 50%;
}
.categories__image {
  position: relative;
  translate: 0 -10%;
}

.services__container {
  display: flex;
  align-items: center;
}
.services__container > * {
  flex: 1 1 0.625rem;
}
.services__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: start;
}
.services__cards {
  columns: 2 15.625rem;
  column-gap: 1.25rem;
}
.services__cards > * {
  break-inside: avoid;
}
.services__card {
  border-radius: 2.5rem;
}
.services__card {
  margin-bottom: 1.25rem;
}

.card-services {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  background-color: var(--colorBGSecondary);
  border: 0.125rem solid var(--colorBGSecondary);
  transition: all 0.3s;
}
.card-services:active {
  background-color: var(--colorBG);
  transform: scale(0.95);
}
.card-services__image-box {
  max-width: 20%;
}
.card-services__title {
  color: #fff;
}
.card-services__title {
  font-weight: 400;
  line-height: 1.35; /* 27/20 */
}
.mission {
  padding-left: 0.9375rem;
}
.mission--reverse {
  padding-right: 0.9375rem;
}
.mission--reverse .mission__container {
  flex-direction: row-reverse;
  border: 0.0625rem solid var(--colorGreen);
  border-radius: 18.75rem 0 0 18.75rem;
}
.mission--reverse .mission__container::before {
  border-top: 0.0625rem solid var(--colorGreen);
  border-bottom: 0.0625rem solid var(--colorGreen);
  left: 100%;
}
.mission__container {
  background-color: var(--colorBGSecondary);
  position: relative;
  padding: 6.25rem 0;
  border-radius: 0 18.75rem 18.75rem 0;
  border: 0.0625rem solid var(--colorBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 50vw;
  height: 100%;
  border-top: 0.0625rem solid var(--colorBlue);
  border-bottom: 0.0625rem solid var(--colorBlue);
  background-color: var(--colorBGSecondary);
}
.mission__container > * {
  flex: 1 1 0.625rem;
}
.mission__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.mission__title {
  text-align: center;
}
.mission__text p {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.mission__text p::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background-color: #ffcc00;
  border-radius: 50%;
}
.mission__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .services__container {
    flex-direction: column;
  }
  .mission--reverse .mission__container {
    padding-right: 0;
    padding-left: 6.25rem;
  }
  .mission__container {
    padding-left: 0;
    padding-right: 6.25rem;
  }
  .mission__media {
    display: none;
  }
}
@media (width <= 20em) {
  .page__about-us {
    padding-block: 2.5rem;
  }
  .page__categories {
    padding-block: 2.5rem;
  }
  .page__hero {
    padding-top: 5rem;
  }
  .page__hero {
    padding-bottom: 2.5rem;
  }
  .page__services {
    padding-block: 2.5rem;
  }
  .page__list {
    padding-block: 2.5rem;
  }
  .page__mission {
    padding-block: 2.5rem;
  }
  .services__container {
    gap: 1.25rem;
  }
  .services__card {
    padding: 1.25rem;
  }
  .card-services__title {
    font-size: 1rem;
  }
  .mission {
    padding-right: 0.9375rem;
  }
  .mission--reverse {
    padding-left: 0.9375rem;
  }
  .mission__container {
    gap: 1.875rem;
  }
  .mission__title {
    margin-bottom: 1.875rem;
  }
  .mission__text {
    padding-left: 6.25e-8rem;
  }
}
@media (width > 20em) and (width <= 75em) {
  .page__about-us {
    padding-block: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .page__categories {
    padding-block: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .page__hero {
    padding-top: clamp( 5rem , 1.81818181818125rem  +  15.9090909091vw , 13.75rem );
  }
  .page__hero {
    padding-bottom: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .page__services {
    padding-block: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .page__list {
    padding-block: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .page__mission {
    padding-block: clamp( 2.5rem , 1.59090909090625rem  +  4.5454545455vw , 5rem );
  }
  .services__container {
    gap: clamp( 1.25rem , -0.56818181818125rem  +  9.0909090909vw , 6.25rem );
  }
  .services__card {
    padding: clamp( 1.25rem , 0.79545454545625rem  +  2.2727272727vw , 2.5rem );
  }
  .card-services__title {
    font-size: clamp( 1rem , 0.90909090909375rem  +  0.4545454545vw , 1.25rem );
  }
  .mission {
    padding-right: clamp( 0.9375rem , -0.99431818181875rem  +  9.6590909091vw , 6.25rem );
  }
  .mission--reverse {
    padding-left: clamp( 0.9375rem , -0.99431818181875rem  +  9.6590909091vw , 6.25rem );
  }
  .mission__container {
    gap: clamp( 1.875rem , 0.28409090909375rem  +  7.9545454545vw , 6.25rem );
  }
  .mission__title {
    margin-bottom: clamp( 1.875rem , 0.28409090909375rem  +  7.9545454545vw , 6.25rem );
  }
  .mission__text {
    padding-left: clamp( 6.25e-8rem , -0.68181809659375rem  +  3.4090907955vw , 1.875rem );
  }
}
@media (min-width: 47.99875em) {
  .services__body {
    flex: 1 1 40%;
  }
  .services__cards {
    flex: 1 1 60%;
  }
}
@media (min-width: 61.99875em) {
  .services__card:first-child {
    margin-top: 6.25rem;
  }
}
@media (width > 75em) {
  .page__about-us {
    padding-block: 5rem;
  }
  .page__categories {
    padding-block: 5rem;
  }
  .page__hero {
    padding-top: 13.75rem;
  }
  .page__hero {
    padding-bottom: 5rem;
  }
  .page__services {
    padding-block: 5rem;
  }
  .page__list {
    padding-block: 5rem;
  }
  .page__mission {
    padding-block: 5rem;
  }
  .services__container {
    gap: 6.25rem;
  }
  .services__card {
    padding: 2.5rem;
  }
  .card-services__title {
    font-size: 1.25rem;
  }
  .mission {
    padding-right: 6.25rem;
  }
  .mission--reverse {
    padding-left: 6.25rem;
  }
  .mission__container {
    gap: 6.25rem;
  }
  .mission__title {
    margin-bottom: 6.25rem;
  }
  .mission__text {
    padding-left: 1.875rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .card-services:hover {
    background-color: var(--colorBGSecondary-subtle);
    border: 0.125rem solid var(--buttonColorActive);
    transform: scale(0.97);
  }
}