html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */

@media (width <= 20em) {
  .page--lorem {
    padding-top: 4.375rem;
  }
  .page > * {
    padding-block: 2.5rem;
  }
}

@media (width > 20em) and (width <= 75em) {
  .page--lorem {
    padding-top: clamp( 4.375rem , 3.69318181818125rem  +  3.4090909091vw , 6.25rem );
  }
  .page > * {
    padding-block: clamp( 2.5rem , 1.1363636363625rem  +  6.8181818182vw , 6.25rem );
  }
}

@media (width > 75em) {
  .page--lorem {
    padding-top: 6.25rem;
  }
  .page > * {
    padding-block: 6.25rem;
  }
}