html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */

.office-services__container {
  max-width: 85.625rem;
}
.office-services__header {
  display: grid;
  justify-items: center;
}
.office-services__title {
  text-align: center;
}
.office-services__arrow {
  position: relative;
  background-color: var(--colorBGSecondary);
  font-size: 1.125rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  text-align: center;
  align-content: center;
}
.office-services__arrow::before {
  rotate: 180deg;
  color: #fff;
  animation: arrow-floating 2s infinite alternate linear;
}
.office-services__subtitle {
  text-align: center;
}
.office-services__body {
  display: flex;
  flex-direction: column;
}
@keyframes arrow-floating {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 0.3125rem;
  }
}
.item-office-services {
  position: relative;
  width: 50%;
}
.item-office-services:nth-child(even) {
  translate: 0.09375rem 0;
}
.item-office-services:nth-child(even)::before {
  right: 0;
}
.item-office-services:nth-child(even)::after {
  right: 0;
}
.item-office-services:nth-child(odd) {
  align-self: flex-end;
}
.item-office-services:nth-child(odd) {
  translate: -0.09375rem 0;
}
.item-office-services:nth-child(odd)::before {
  left: 0;
}
.item-office-services:nth-child(odd)::after {
  left: 0;
}
.item-office-services::before {
  content: "";
  position: absolute;
  background-color: var(--colorBGSecondary);
  width: 0.1875rem;
  height: 100%;
}
.item-office-services::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: var(--colorBGSecondary);
}
.item-office-services::after {
  height: 0.1875rem;
}
.item-office-services:last-child::before {
  height: 50%;
}
.item-office-services__body {
  background-color: var(--colorBGSecondary);
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
}
.item-office-services__text {
  line-height: 1.3;
}
.item-office-services__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-office-services__list {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.item-office-services__bullet-point {
  line-height: 1.3;
  position: relative;
  display: flex;
  padding-left: 1.5rem;
}
.item-office-services__bullet-point::before {
  content: "";
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: #ffcc00;
  border-radius: 50%;
  position: absolute;
  top: 0.4375rem;
  left: 0;
  flex-shrink: 0;
}
.item-office-services__sublist {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.sublist-item-office__body {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.sublist-item-office__item {
  line-height: 1.3;
  position: relative;
  display: flex;
  gap: 0.9375rem;
}
.sublist-item-office__item::before {
  content: "";
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: #ffcc00;
  border-radius: 50%;
  position: relative;
  top: 0.4375rem;
  flex-shrink: 0;
}
@media (max-width: 61.99875em) {
  .office-services__arrow {
    display: none;
  }
  .office-services__body {
    gap: 1.875rem;
  }
  .item-office-services {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .item-office-services::before {
    display: none;
  }
  .item-office-services::after {
    display: none;
  }
}
@media (width <= 20em) {
  .page--office {
    padding-top: 4.375rem;
  }
  .page > * {
    padding-block: 2.5rem;
  }
  .office-services__title {
    padding-bottom: 1.875rem;
  }
  .office-services__subtitle {
    margin-bottom: 1.25rem;
  }
  .item-office-services:nth-child(even) {
    padding-right: 2.1875rem;
  }
  .item-office-services:nth-child(odd) {
    padding-left: 2.1875rem;
  }
  .item-office-services::after {
    width: 2.1875rem;
  }
  .item-office-services__body {
    padding-block: 1.875rem;
  }
  .item-office-services__body {
    padding-inline: 1.25rem;
  }
  .item-office-services__body {
    gap: 0.625rem;
  }
  .sublist-item-office__body {
    padding-left: 0.9375rem;
  }
}
@media (width > 20em) and (width <= 75em) {
  .page--office {
    padding-top: clamp( 4.375rem , 3.69318181818125rem  +  3.4090909091vw , 6.25rem );
  }
  .page > * {
    padding-block: clamp( 2.5rem , 1.1363636363625rem  +  6.8181818182vw , 6.25rem );
  }
  .office-services__title {
    padding-bottom: clamp( 1.875rem , 1.42045454545625rem  +  2.2727272727vw , 3.125rem );
  }
  .office-services__subtitle {
    margin-bottom: clamp( 1.25rem , 0.79545454545625rem  +  2.2727272727vw , 2.5rem );
  }
  .item-office-services:nth-child(even) {
    padding-right: clamp( 2.1875rem , 0.72159090909375rem  +  7.3295454545vw , 6.21875rem );
  }
  .item-office-services:nth-child(odd) {
    padding-left: clamp( 2.1875rem , 0.72159090909375rem  +  7.3295454545vw , 6.21875rem );
  }
  .item-office-services::after {
    width: clamp( 2.1875rem , 0.72159090909375rem  +  7.3295454545vw , 6.21875rem );
  }
  .item-office-services__body {
    padding-block: clamp( 1.875rem , 1.42045454545625rem  +  2.2727272727vw , 3.125rem );
  }
  .item-office-services__body {
    padding-inline: clamp( 1.25rem , 0.56818181818125rem  +  3.4090909091vw , 3.125rem );
  }
  .item-office-services__body {
    gap: clamp( 0.625rem , 0.5113636363625rem  +  0.5681818182vw , 0.9375rem );
  }
  .sublist-item-office__body {
    padding-left: clamp( 0.9375rem , 0.59659090909375rem  +  1.7045454545vw , 1.875rem );
  }
}
@media (min-width: 61.99875em) {
  .item-office-services:not(:first-child) {
    margin-top: -4.375rem;
  }
}
@media (width > 75em) {
  .page--office {
    padding-top: 6.25rem;
  }
  .page > * {
    padding-block: 6.25rem;
  }
  .office-services__title {
    padding-bottom: 3.125rem;
  }
  .office-services__subtitle {
    margin-bottom: 2.5rem;
  }
  .item-office-services:nth-child(even) {
    padding-right: 6.21875rem;
  }
  .item-office-services:nth-child(odd) {
    padding-left: 6.21875rem;
  }
  .item-office-services::after {
    width: 6.21875rem;
  }
  .item-office-services__body {
    padding-block: 3.125rem;
  }
  .item-office-services__body {
    padding-inline: 3.125rem;
  }
  .item-office-services__body {
    gap: 0.9375rem;
  }
  .sublist-item-office__body {
    padding-left: 1.875rem;
  }
}