html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */
.product--orange .products__body:hover .product__content {
  background-color: var(--colorOrange-hint);
}
.product--orange .product__content {
  background-color: var(--colorOrange-hint);
  border: 0.125rem solid var(--colorOrange-muted);
}
.product--orange .product-popup__close:active {
  background-color: var(--colorOrange-hint);
}
.product--blue .products__body:hover .product__content {
  background-color: var(--colorBlue-hint);
}
.product--blue .product__content {
  background-color: var(--colorBlue-hint);
  border: 0.125rem solid var(--colorBlue-muted);
}
.product--blue .product-popup__close:active {
  background-color: var(--colorBlue-hint);
}
.product--green .products__body:hover .product__content {
  background-color: var(--colorGreen-hint);
}
.product--green .product__content {
  background-color: var(--colorGreen-hint);
  border: 0.125rem solid var(--colorGreen-muted);
}
.product--green .product-popup__close:active {
  background-color: var(--colorGreen-hint);
}
.product--yellow .products__body:hover .product__content {
  background-color: var(--colorYellow-hint);
}
.product--yellow .product__content {
  background-color: var(--colorYellow-hint);
  border: 0.125rem solid var(--colorYellow-muted);
}
.product--yellow .product-popup__close:active {
  background-color: var(--colorYellow-hint);
}
.product__body {
  overflow: visible;
  position: relative;
  padding-top: 5rem;
  max-width: 25rem;
  transition: all 0.3s;
}
.product__body:hover {
  scale: 0.97;
}
.product__body:hover .product__content {
  border: 0.125rem solid var(--buttonColorActive);
}
.product__body:active {
  background-color: var(--colorBG);
  transform: scale(0.95);
}
.product__picture {
  transform: translateY(-3.75rem);
}
.product__image {
  max-height: 29.375rem;
}
.product__content {
  display: grid;
  justify-items: center;
  gap: 0.9375rem;
  transition: all 0.3s;
}
.product__title {
  color: #fff;
  text-align: left;
  font-weight: 500;
  text-align: center;
  line-height: 1.196078; /* 61/51 */
}
.product__descrioption {
  text-align: center;
}
.product-popup {
  visibility: hidden;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: var(--colorBG);
  overflow-y: auto;
  opacity: 0;
  display: grid;
  transition: opacity 0.3s, visibility 0.3s;
  grid-template-columns: 1fr 10fr 1fr;
}
.product-popup.active {
  visibility: visible;
  opacity: 1;
}
.product-popup__close {
  color: var(--buttonColorActive);
  transition: all 0.3s;
  padding-block: 3.75rem;
  position: sticky;
  top: 0;
}
.product-popup__close span {
  transition: all 0.3s;
  scale: 1;
}
.product-popup__container {
  display: flex;
}
.product-popup__container {
  padding-top: 10%;
}
.product-popup__container > * {
  flex: 1 1 0.625rem;
}
.product-popup__picture {
  max-height: 43.75rem;
}
.product-popup__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-popup__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.product-popup__description p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.product-popup__description {
  margin-bottom: 1.875rem;
}
.product-popup__list {
  margin-bottom: 1.875rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.list-product-popup__title {
  margin-bottom: 0.9375rem;
}
.list-product-popup__body {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
.list-product-popup__item {
  position: relative;
  display: flex;
  gap: 0.9375rem;
}
.list-product-popup__item::before {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: var(--colorYellow);
  border-radius: 50%;
  position: relative;
}
.list-product-popup__item::before {
  flex-shrink: 0;
}
@media (max-width: 47.99875em) {
  .product-popup {
    grid-template-columns: 1fr;
  }
  .product-popup__close:first-child {
    display: none;
  }
  .product-popup__container {
    flex-direction: column;
    align-items: center;
  }
  .product-popup__picture {
    max-width: 25rem;
  }
}
@media (width <= 20em) {
  .product__picture {
    margin-bottom: -9.375rem;
  }
  .product__content {
    padding-inline: 1.875rem;
  }
  .product__content {
    padding-bottom: 1.25rem;
  }
  .product__content {
    padding-top: 6.25rem;
  }
  .product__title--small {
    font-size: 1.125rem;
  }
  .product-popup__container {
    gap: 1.25rem;
  }
  .product-popup__content {
    padding-top: 1.25rem;
  }
  .list-product-popup__item::before {
    top: 0.375rem;
  }
}
@media (width > 20em) and (width <= 75em) {
  .product__picture {
    margin-bottom: clamp( -15.625rem , -7.102272727275rem  +  -11.3636363636vw , -9.375rem );
  }
  .product__content {
    padding-inline: clamp( 1.875rem , 1.647727272725rem  +  1.1363636364vw , 2.5rem );
  }
  .product__content {
    padding-bottom: clamp( 1.25rem , 1.022727272725rem  +  1.1363636364vw , 1.875rem );
  }
  .product__content {
    padding-top: clamp( 6.25rem , 3.75rem  +  12.5vw , 13.125rem );
  }
  .product__title--small {
    font-size: clamp( 1.125rem , 0.9886363636375rem  +  0.6818181818vw , 1.5rem );
  }
  .product-popup__container {
    gap: clamp( 1.25rem , 0.79545454545625rem  +  2.2727272727vw , 2.5rem );
  }
  .product-popup__content {
    padding-top: clamp( 1.25rem , 0.34090909090625rem  +  4.5454545455vw , 3.75rem );
  }
  .list-product-popup__item::before {
    top: clamp( 0.375rem , 0.28409090909375rem  +  0.4545454545vw , 0.625rem );
  }
}
@media (min-width: 47.99875em) {
  .product-popup__close {
    height: 100vh;
  }
}
@media (width > 75em) {
  .product__picture {
    margin-bottom: -15.625rem;
  }
  .product__content {
    padding-inline: 2.5rem;
  }
  .product__content {
    padding-bottom: 1.875rem;
  }
  .product__content {
    padding-top: 13.125rem;
  }
  .product__title--small {
    font-size: 1.5rem;
  }
  .product-popup__container {
    gap: 2.5rem;
  }
  .product-popup__content {
    padding-top: 3.75rem;
  }
  .list-product-popup__item::before {
    top: 0.625rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .product--orange .product-popup__close:hover {
    background-color: var(--colorOrange-muted);
  }
  .product--blue .product-popup__close:hover {
    background-color: var(--colorBlue-muted);
  }
  .product--green .product-popup__close:hover {
    background-color: var(--colorGreen-muted);
  }
  .product--yellow .product-popup__close:hover {
    background-color: var(--colorYellow-muted);
  }
  .product-popup__close:hover span {
    scale: 1.4;
  }
  .product-popup__close:hover {
    color: var(--buttonColorActive);
  }
}