html {
  --mainColor: #9c9c9c;
  --buttonColor: #000;
  --buttonColorActive: #fff;
  --colorBlue: #0e6ec2;
  --colorBlue-subtle: rgba(14, 110, 194, 0.6);
  --colorBlue-muted: rgba(14, 110, 194, 0.15);
  --colorBlue-hint: rgba(14, 110, 194, 0.05);
  --colorOrange: #ff6633;
  --colorOrange-subtle: rgba(255, 102, 51, 0.6);
  --colorOrange-muted: rgba(255, 102, 51, 0.15);
  --colorOrange-hint: rgba(255, 102, 51, 0.05);
  --colorGreen: #18ad77;
  --colorGreen-subtle: rgba(24, 173, 119, 0.6);
  --colorGreen-muted: rgba(24, 173, 119, 0.15);
  --colorGreen-hint: rgba(24, 173, 119, 0.05);
  --colorPink: #f098c1;
  --colorPink-subtle: rgba(240, 152, 193, 0.6);
  --colorPink-muted: rgba(240, 152, 193, 0.15);
  --colorPink-hint: rgba(240, 152, 193, 0.05);
  --colorYellow: #ffcc00;
  --colorYellow-subtle: rgba(255, 204, 0, 0.6);
  --colorYellow-muted: rgba(255, 204, 0, 0.15);
  --colorYellow-hint: rgba(255, 204, 0, 0.05);
  --colorBG: #0d0d11;
  --colorBG-subtle: rgba(13, 13, 17, 0.8);
  --colorBGSecondary: #19191d;
  --colorBGSecondary-subtle: rgba(25, 25, 29, 0.6);
  --colorBGSecondary-muted: rgba(25, 25, 29, 0.15);
}

/* Generated by vite-plugin-svg-spritemap */

.hero {
  padding-inline: 0.9375rem;
  position: relative;
}
.hero__container {
  padding-inline: 2.5rem;
  background-color: var(--colorGreen-hint);
  border: 0.0625rem solid var(--colorGreen-muted);
  display: flex;
}
.hero__container {
  justify-content: flex-end;
}
.hero__image {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 80% 50%;
  border-radius: 0 30% 0 30%;
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero__title {
  text-transform: uppercase;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  justify-content: center;
  justify-items: center;
}
.products__list {
  align-items: end;
}
.products__item {
  flex: 1 1 18.75rem;
}
@media (max-width: 47.99875em) {
  .hero__container {
    flex-direction: column;
  }
}
@media (width <= 20em) {
  .page--totem-superfood {
    padding-top: 6.25rem;
  }
  .page__hero {
    margin-bottom: 1.25rem;
  }
  .page__products {
    margin-bottom: 1.25rem;
  }
  .hero__container {
    padding-block: 3.75rem;
  }
  .hero__container {
    gap: 1.875rem;
  }
  .hero__body {
    padding-right: 1.875rem;
  }
  .hero__body {
    gap: 0.9375rem;
  }
  .products__list {
    gap: 0.625rem;
  }
}
@media (width > 20em) and (width <= 75em) {
  .page--totem-superfood {
    padding-top: clamp( 6.25rem , 3.977272727275rem  +  11.3636363636vw , 12.5rem );
  }
  .page__hero {
    margin-bottom: clamp( 1.25rem , -1.70454545454375rem  +  14.7727272727vw , 9.375rem );
  }
  .page__products {
    margin-bottom: clamp( 1.25rem , -1.70454545454375rem  +  14.7727272727vw , 9.375rem );
  }
  .hero__container {
    padding-block: clamp( 3.75rem , 2.3863636363625rem  +  6.8181818182vw , 7.5rem );
  }
  .hero__container {
    gap: clamp( 1.875rem , 0.28409090909375rem  +  7.9545454545vw , 6.25rem );
  }
  .hero__body {
    padding-right: clamp( 1.875rem , 1.42045454545625rem  +  2.2727272727vw , 3.125rem );
  }
  .hero__body {
    gap: clamp( 0.9375rem , 0.59659090909375rem  +  1.7045454545vw , 1.875rem );
  }
  .products__list {
    gap: clamp( 0.625rem , -0.05681818181875rem  +  3.4090909091vw , 2.5rem );
  }
}
@media (min-width: 47.99875em) {
  .hero__picture {
    flex: 1 1 31.25rem;
  }
  .hero__body {
    flex: 1 1 37.5rem;
  }
}
@media (width > 75em) {
  .page--totem-superfood {
    padding-top: 12.5rem;
  }
  .page__hero {
    margin-bottom: 9.375rem;
  }
  .page__products {
    margin-bottom: 9.375rem;
  }
  .hero__container {
    padding-block: 7.5rem;
  }
  .hero__container {
    gap: 6.25rem;
  }
  .hero__body {
    padding-right: 3.125rem;
  }
  .hero__body {
    gap: 1.875rem;
  }
  .products__list {
    gap: 2.5rem;
  }
}