@import url(https://fonts.googleapis.com/css?family=DM+Sans:300,regular,500,700,900&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-sphere:before {
  content: ""
}
._icon-facebook2:before {
  content: ""
}
._icon-instagram:before {
  content: ""
}
._icon-youtube:before {
  content: ""
}
:root {
  --primary: #000;
  --secondary: #fff;
  --hover-text-white: #ffffff73;
  --hover-text-black: #0000007c
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: DM-Sans,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: DM-Sans,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: var(--primary);
  color: var(--secondary)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,87.5rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
[data-ripple] {
  position: relative;
  overflow: hidden
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
  border: 1px solid rgba(255,255,255,.5);
  -webkit-animation: button-circle 1.5s ease forwards;
  animation: button-circle 1.5s ease forwards
}
@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0
  }
}
@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0
  }
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
  background-color: rgba(0,0,0,.5333333333)
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: .9375rem;
  position: relative;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  transition: all .3s
}
.header__logo {
  position: relative;
  z-index: 5;
  max-width: 12.5rem
}
.header__logo img {
  width: 100%
}
.header__button {
  position: relative;
  z-index: 5
}
.menu__list {
  display: flex;
  line-height: 1.6;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}
.menu__item {
  transition: all .3s
}
.menu__parent {
  position: relative;
  padding-right: .8125rem
}
.menu__parent::after {
  content: "";
  background: url(../img/svg/arrow.svg) 0 0/100% no-repeat;
  width: .5rem;
  height: .3125rem;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.sub-menu__body {
  display: flex;
  flex-direction: column;
  min-width: 12.5rem;
  border-radius: 5%;
  gap: .9375rem;
  padding: 2.5rem;
  color: var(--primary);
  background-color: var(--secondary)
}
.sub-menu__link {
  transition: all .3s
}
.footer__container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%
}
.footer__logo {
  width: 100%
}
.footer__logo img {
  width: 100%;
  height: 100%
}
.footer__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2.1875rem
}
.footer__lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between
}
.footer__title {
  font-size: 1.375rem;
  font-weight: 700
}
.footer__list {
  display: flex;
  flex-direction: column
}
.footer__column {
  display: flex;
  flex-direction: column
}
.footer__socials {
  display: flex;
  align-self: flex-end;
  gap: .625rem
}
.list-footer__link {
  transition: all .3s
}
.socials-footer__item {
  border-radius: 50%;
  overflow: hidden
}
.socials-footer__link {
  display: flex;
  border-radius: inherit;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
  color: var(--primary);
  background-color: var(--secondary);
  transition: all .3s
}
.first-block__container {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center
}
.first-block__logo-item {
  width: 31.25rem;
  position: relative
}
._watcher-view .first-block__logo-item {
  -webkit-animation: shake .8s 1 linear;
  animation: shake .8s 1 linear
}
.first-block__logo-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/svg/main-logo.svg) no-repeat center center;
  background-size: contain;
  -webkit-filter: blur(.9375rem);
  filter: blur(.9375rem);
  opacity: .3;
  -webkit-transform: translate(var(--shadow-x,.625rem),var(--shadow-y,.625rem));
  transform: translate(var(--shadow-x,.625rem),var(--shadow-y,.625rem));
  pointer-events: none;
  z-index: -1
}
.first-block__logo {
  width: 100%;
  height: 100%
}
.categories__container {
  margin: 0 auto;
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
.categories__title {
  font-weight: 700;
  line-height: 1.2;
  text-align: center
}
.list-categories {
  position: relative;
  z-index: 10;
  display: grid;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  grid-auto-rows: 1fr;
  justify-items: center
}
._watcher-view .list-categories__item {
  -webkit-animation: transition-top-op .5s 1 ease-out forwards;
  animation: transition-top-op .5s 1 ease-out forwards
}
._watcher-view .list-categories__item:nth-child(1) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}
._watcher-view .list-categories__item:nth-child(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}
._watcher-view .list-categories__item:nth-child(3) {
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}
._watcher-view .list-categories__item:nth-child(4) {
  -webkit-animation-delay: .8s;
  animation-delay: .8s
}
._watcher-view .list-categories__item:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}
.list-categories__item {
  opacity: 0;
  position: relative;
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  --border: toRem(2);
  background: rgba(255,255,255,.125);
  border-radius: .5rem;
  overflow: hidden;
  padding: .1875rem;
  display: flex;
  align-items: center;
  cursor: pointer
}
.list-categories__item::after,
.list-categories__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(800px circle at var(--x-px) var(--y-px),rgba(255,255,255,.3),transparent 40%)
}
.list-categories__item::before {
  z-index: 1
}
.list-categories__item::after {
  opacity: 0;
  z-index: 2;
  transition: opacity .4s ease;
  pointer-events: none
}
.list-categories__item:nth-child(1)::after {
  background: radial-gradient(800px circle at var(--x-px) var(--y-px),rgba(255,255,255,.3),transparent 40%)
}
.list-categories__item:nth-child(2)::after {
  background: radial-gradient(800px circle at var(--x-px) var(--y-px),rgba(240,0,0,.3),transparent 40%)
}
.list-categories__item:nth-child(3)::after {
  background: radial-gradient(800px circle at var(--x-px) var(--y-px),rgba(255,251,0,.3),transparent 40%)
}
.list-categories__item:nth-child(4)::after {
  background: radial-gradient(800px circle at var(--x-px) var(--y-px),rgba(0,255,13,.3),transparent 40%)
}
.list-categories__item:nth-child(5)::after {
  background: radial-gradient(800px circle at var(--x-px) var(--y-px),rgba(4,0,255,.3),transparent 40%)
}
.list-categories__button {
  width: 100%;
  height: 100%;
  background: #131315;
  border-radius: inherit;
  z-index: 1;
  inset: var(--border);
  max-width: 25rem;
  transition: all .3s
}
.list-categories__button img {
  transition: all .3s;
  width: 100%
}
.media-categories__description {
  line-height: 1.2
}
.media-categories__description p:not(:last-child) {
  margin-bottom: .9375rem
}
.media-categories__images {
  width: 100%;
  display: flex;
  gap: .9375rem
}
.media-categories__image {
  max-width: 12.5rem
}
.media-categories__image img {
  width: 100%
}
.categories__body.active {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  justify-content: start
}
.categories__body.active .list-categories {
  background-color: var(--primary)
}
.categories__body.active .categories__media {
  align-self: stretch;
  flex-grow: 1
}
.categories__body.active .list-categories__item {
  opacity: 0;
  -webkit-animation: shake .5s 1 linear forwards;
  animation: shake .5s 1 linear forwards
}
.categories__body.active .list-categories__item:nth-child(1) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}
.categories__body.active .list-categories__item:nth-child(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}
.categories__body.active .list-categories__item:nth-child(3) {
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}
.categories__body.active .list-categories__item:nth-child(4) {
  -webkit-animation-delay: .8s;
  animation-delay: .8s
}
.categories__body.active .list-categories__item:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}
.active-category {
  outline: .3125rem solid var(--secondary)
}
.active-category.list-categories__button img {
  -webkit-transform: scale(.7);
  transform: scale(.7)
}
.media-categories__item {
  display: none;
  min-height: 100%
}
.media-categories__item.active-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex-grow: 1;
  gap: 3.125rem;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all .3s
}
.media-categories__item.active-item .media-categories__description p {
  opacity: 0;
  -webkit-animation: transition-right-op .5s .5s 1 ease-out forwards;
  animation: transition-right-op .5s .5s 1 ease-out forwards
}
.media-categories__item.active-item .media-categories__description p span {
  font-weight: 700
}
.media-categories__item.active-item .media-categories__description p:nth-child(1) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s
}
.media-categories__item.active-item .media-categories__description p:nth-child(2) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}
.media-categories__item.active-item .media-categories__description p:nth-child(3) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}
.media-categories__item.active-item .media-categories__description p:nth-child(4) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}
.media-categories__item.active-item .media-categories__description p:nth-child(5) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}
.media-categories__item.active-item .media-categories__image {
  opacity: 0;
  -webkit-animation: shake .5s 1 linear forwards;
  animation: shake .5s 1 linear forwards
}
.media-categories__item.active-item .media-categories__image:nth-child(1) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}
.media-categories__item.active-item .media-categories__image:nth-child(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}
.media-categories__item.active-item .media-categories__image:nth-child(3) {
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}
.media-categories__item.active-item .media-categories__image:nth-child(4) {
  -webkit-animation-delay: .8s;
  animation-delay: .8s
}
.media-categories__item.active-item .media-categories__image:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}
@-webkit-keyframes scale-op {
  0% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    opacity: 0
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
@keyframes scale-op {
  0% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    opacity: 0
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
@-webkit-keyframes transition-right-op {
  0% {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    opacity: 0
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
}
@keyframes transition-right-op {
  0% {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    opacity: 0
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
}
@-webkit-keyframes transition-top-op {
  0% {
    -webkit-transform: translate(0,300%);
    transform: translate(0,300%);
    opacity: 0
  }
  60% {
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    opacity: 1
  }
  87% {
    -webkit-transform: translate(0,10%);
    transform: translate(0,10%)
  }
  93% {
    -webkit-transform: translate(0,-5%);
    transform: translate(0,-5%)
  }
  97% {
    -webkit-transform: translate(0,5%);
    transform: translate(0,5%)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
}
@keyframes transition-top-op {
  0% {
    -webkit-transform: translate(0,300%);
    transform: translate(0,300%);
    opacity: 0
  }
  60% {
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    opacity: 1
  }
  87% {
    -webkit-transform: translate(0,10%);
    transform: translate(0,10%)
  }
  93% {
    -webkit-transform: translate(0,-5%);
    transform: translate(0,-5%)
  }
  97% {
    -webkit-transform: translate(0,5%);
    transform: translate(0,5%)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
}
@-webkit-keyframes shake {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) rotate(0);
    transform: scale(2) rotate(0)
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0)
  }
  73% {
    -webkit-transform: translate(-.0625rem,-.125rem) rotate(-1deg);
    transform: translate(-.0625rem,-.125rem) rotate(-1deg)
  }
  76% {
    -webkit-transform: translate(-.1875rem,0) rotate(1deg);
    transform: translate(-.1875rem,0) rotate(1deg)
  }
  79% {
    -webkit-transform: translate(0,.125rem) rotate(0);
    transform: translate(0,.125rem) rotate(0)
  }
  82% {
    -webkit-transform: translate(.0625rem,-.0625rem) rotate(1deg);
    transform: translate(.0625rem,-.0625rem) rotate(1deg)
  }
  85% {
    -webkit-transform: translate(-.0625rem,.125rem) rotate(-1deg);
    transform: translate(-.0625rem,.125rem) rotate(-1deg)
  }
  88% {
    -webkit-transform: translate(-.1875rem,.0625rem) rotate(0);
    transform: translate(-.1875rem,.0625rem) rotate(0)
  }
  91% {
    -webkit-transform: translate(.125rem,.0625rem) rotate(-1deg);
    transform: translate(.125rem,.0625rem) rotate(-1deg)
  }
  94% {
    -webkit-transform: translate(-.0625rem,-.0625rem) rotate(1deg);
    transform: translate(-.0625rem,-.0625rem) rotate(1deg)
  }
  97% {
    -webkit-transform: translate(.125rem,.125rem) rotate(0);
    transform: translate(.125rem,.125rem) rotate(0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0) rotate(0);
    transform: translate(0,0) rotate(0)
  }
}
@keyframes shake {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) rotate(0);
    transform: scale(2) rotate(0)
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0)
  }
  73% {
    -webkit-transform: translate(-.0625rem,-.125rem) rotate(-1deg);
    transform: translate(-.0625rem,-.125rem) rotate(-1deg)
  }
  76% {
    -webkit-transform: translate(-.1875rem,0) rotate(1deg);
    transform: translate(-.1875rem,0) rotate(1deg)
  }
  79% {
    -webkit-transform: translate(0,.125rem) rotate(0);
    transform: translate(0,.125rem) rotate(0)
  }
  82% {
    -webkit-transform: translate(.0625rem,-.0625rem) rotate(1deg);
    transform: translate(.0625rem,-.0625rem) rotate(1deg)
  }
  85% {
    -webkit-transform: translate(-.0625rem,.125rem) rotate(-1deg);
    transform: translate(-.0625rem,.125rem) rotate(-1deg)
  }
  88% {
    -webkit-transform: translate(-.1875rem,.0625rem) rotate(0);
    transform: translate(-.1875rem,.0625rem) rotate(0)
  }
  91% {
    -webkit-transform: translate(.125rem,.0625rem) rotate(-1deg);
    transform: translate(.125rem,.0625rem) rotate(-1deg)
  }
  94% {
    -webkit-transform: translate(-.0625rem,-.0625rem) rotate(1deg);
    transform: translate(-.0625rem,-.0625rem) rotate(1deg)
  }
  97% {
    -webkit-transform: translate(.125rem,.125rem) rotate(0);
    transform: translate(.125rem,.125rem) rotate(0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0) rotate(0);
    transform: translate(0,0) rotate(0)
  }
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  33% {
    -webkit-transform: scale(.8);
    transform: scale(.8)
  }
  66% {
    -webkit-transform: scale(.9);
    transform: scale(.9)
  }
  100% {
    -webkit-transform: scale(.8);
    transform: scale(.8)
  }
}
@keyframes drop {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  33% {
    -webkit-transform: scale(.8);
    transform: scale(.8)
  }
  66% {
    -webkit-transform: scale(.9);
    transform: scale(.9)
  }
  100% {
    -webkit-transform: scale(.8);
    transform: scale(.8)
  }
}
.placeholder {
  background-color: #fff;
  height: 200vh
}
.social-block {
  display: flex;
  flex-direction: column
}
.social-block__title {
  font-weight: 700;
  line-height: 1.2;
  text-align: center
}
.social-block__container {
  position: relative;
  margin: 0 auto;
  left: -50%;
  top: 0
}
.social-block__item {
  width: 100%
}
.social-block__circle {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out,-webkit-transform .5s ease-out;
  z-index: 1;
  transition: all .3s;
  -webkit-animation: rotateBack .7s ease-in-out forwards;
  animation: rotateBack .7s ease-in-out forwards
}
.social-block__circle svg circle {
  transition: all .3s;
  stroke: #555
}
.social-block__link-container {
  position: absolute;
  left: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
  z-index: 0;
  max-width: 100%
}
.social-block__line {
  height: 2px;
  background-color: rgba(0,0,0,0);
  transition: all .3s ease-in-out;
  margin-right: 1.25rem;
  background-color: #555;
  border-radius: .125rem
}
.social-block__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  transition: color .3s
}
.social-block__link:hover {
  color: #555
}
.first-link-container {
  top: 15%;
  left: 74%
}
.second-link-container {
  top: 52%;
  left: 87.3%
}
.third-link-container {
  top: 80%;
  left: 62.2%
}
.fourth-link-container {
  top: 30%;
  left: 68.5%
}
.social-block__item.active-circle .social-block__circle {
  -webkit-animation: rotate .7s ease-out forwards,flicker 3s linear infinite;
  animation: rotate .7s ease-out forwards,flicker 3s linear infinite
}
.social-block__item.active-circle .social-block__line {
  -webkit-animation: flicker 3s linear infinite;
  animation: flicker 3s linear infinite
}
.social-block__item.active-circle .first-line {
  background-color: red
}
.social-block__item.active-circle .second-line {
  background-color: green
}
.social-block__item.active-circle .third-line {
  background-color: #ff0
}
.social-block__item.active-circle .fourth-line {
  background-color: #00f
}
.social-block__item.active-circle .first-circle {
  -webkit-filter: drop-shadow(0 0 25px red);
  filter: drop-shadow(0 0 25px red)
}
.social-block__item.active-circle .first-circle svg circle {
  stroke: red
}
.social-block__item.active-circle .second-circle {
  -webkit-filter: drop-shadow(0 0 25px green);
  filter: drop-shadow(0 0 25px green)
}
.social-block__item.active-circle .second-circle svg circle {
  stroke: green
}
.social-block__item.active-circle .third-circle {
  -webkit-filter: drop-shadow(0 0 25px #ff0);
  filter: drop-shadow(0 0 25px #ff0)
}
.social-block__item.active-circle .third-circle svg circle {
  stroke: #ff0
}
.social-block__item.active-circle .fourth-circle {
  -webkit-filter: drop-shadow(0 0 25px #00f);
  filter: drop-shadow(0 0 25px #00f)
}
.social-block__item.active-circle .fourth-circle svg circle {
  stroke: #00f
}
.first-circle svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.third-circle svg {
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg)
}
.fourth-circle svg {
  -webkit-transform: rotate(-65deg);
  transform: rotate(-65deg)
}
.social-block__link {
  border-radius: 50%
}
.social-block__link a {
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  width: 4.375rem;
  height: 4.375rem;
  color: var(--primary);
  background-color: var(--secondary);
  transition: all .3s
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  60% {
    -webkit-transform: rotate(380deg);
    transform: rotate(380deg)
  }
  80% {
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg)
  }
  90% {
    -webkit-transform: rotate(370deg);
    transform: rotate(370deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  60% {
    -webkit-transform: rotate(380deg);
    transform: rotate(380deg)
  }
  80% {
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg)
  }
  90% {
    -webkit-transform: rotate(370deg);
    transform: rotate(370deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@-webkit-keyframes rotateBack {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
  60% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg)
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
  }
  90% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}
@keyframes rotateBack {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
  60% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg)
  }
  80% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
  }
  90% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}
@-webkit-keyframes flicker {
  0% {
    opacity: 1
  }
  20% {
    opacity: 1
  }
  23% {
    opacity: .4
  }
  26% {
    opacity: 1
  }
  27% {
    opacity: .4
  }
  28% {
    opacity: 1
  }
  29% {
    opacity: .4
  }
  30% {
    opacity: 1
  }
  89% {
    opacity: 1
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: .1
  }
}
@keyframes flicker {
  0% {
    opacity: 1
  }
  20% {
    opacity: 1
  }
  23% {
    opacity: .4
  }
  26% {
    opacity: 1
  }
  27% {
    opacity: .4
  }
  28% {
    opacity: 1
  }
  29% {
    opacity: .4
  }
  30% {
    opacity: 1
  }
  89% {
    opacity: 1
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: .1
  }
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto!important;
  height: auto!important;
  z-index: 0
}
.simplebar-offset {
  direction: inherit!important;
  box-sizing: inherit!important;
  resize: none!important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box!important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit!important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden
}
[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all
}
.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .2s .5s linear
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: .5;
  transition-delay: 0s;
  transition-duration: 0s
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px
}
.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto
}
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0
}
.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar!important
}
.simplebar-dummy-scrollbar-size>div {
  width: 200%;
  height: 200%;
  margin: 10px 0
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none
}
@media (min-width:47.99875em) {
  ._header-scroll .header__container {
    padding-top: .3125rem;
    padding-bottom: .3125rem
  }
  .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 1.25rem;
    pointer-events: none;
    transition: all .3s
  }
  .list-categories {
    grid-template-columns: repeat(12,1fr);
    row-gap: .9375rem
  }
  .categories__body:not(.active) .list-categories__item:nth-child(-1n+3) {
    grid-column: span 4
  }
  .categories__body:not(.active) .list-categories__item:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3/span 4
  }
  .categories__body:not(.active) .list-categories__item:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 7/span 4
  }
  .categories__body.active .list-categories {
    grid-template-columns: 1fr
  }
}
@media (min-width:89.375em) {
  .menu__list {
    gap: 2.8125rem
  }
  .footer__container {
    gap: 9.375rem
  }
  .footer__container {
    padding-block: 3.75rem
  }
  .footer__list {
    gap: 1.25rem
  }
  .footer__column {
    gap: 2.1875rem
  }
  .categories__container {
    gap: 6.25rem
  }
  .categories__title {
    font-size: 3.75rem
  }
  .list-categories {
    row-gap: 3.4375rem
  }
  .categories__body:not(.active) .list-categories {
    padding-block: 12.5rem
  }
  .media-categories__description {
    font-size: 1.5rem
  }
  .categories__body.active {
    gap: 6.25rem
  }
  .social-block {
    gap: 6.25rem
  }
  .social-block__title {
    font-size: 3.75rem
  }
  .social-block__container {
    width: 62.5rem
  }
  .social-block__container {
    height: 62.5rem
  }
  .first-line {
    width: 53.125rem
  }
  .second-line {
    width: 41.875rem
  }
  .third-line {
    width: 48.125rem
  }
  .fourth-line {
    width: 39.375rem
  }
}
@media (max-width:20em) {
  .menu__list {
    gap: .9375rem
  }
  .footer__container {
    gap: 2.5rem
  }
  .footer__container {
    padding-block: 1.25rem
  }
  .footer__list {
    gap: .5rem
  }
  .footer__column {
    gap: .625rem
  }
  .categories__container {
    gap: 3.125rem
  }
  .categories__title {
    font-size: 1.875rem
  }
  .list-categories {
    row-gap: .9375rem
  }
  .categories__body:not(.active) .list-categories {
    padding-block: 1.5625rem
  }
  .media-categories__description {
    font-size: 1rem
  }
  .categories__body.active {
    gap: 1.875rem
  }
  .social-block {
    gap: 2.5rem
  }
  .social-block__title {
    font-size: 1.875rem
  }
  .social-block__container {
    width: 12.5rem
  }
  .social-block__container {
    height: 12.5rem
  }
  .first-line {
    width: 7.5rem
  }
  .second-line {
    width: 6.25rem
  }
  .third-line {
    width: 3.125rem
  }
  .fourth-line {
    width: 3.4375rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: var(--primary)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: var(--primary)
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0;
    opacity: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    padding-top: .3125rem;
    padding-bottom: .3125rem
  }
  .header__logo {
    max-width: 9.375rem
  }
  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.25rem
  }
  .menu__parent::after {
    display: none
  }
  .sub-menu__body {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 1.875rem
  }
  .footer__container {
    grid-template-columns: 1fr
  }
  .footer__logo {
    grid-column: 1;
    grid-row: 1;
    opacity: .05
  }
  .footer__body {
    grid-column: 1;
    grid-row: 1
  }
  .footer__socials {
    align-self: center
  }
  .categories__body.active {
    grid-template-columns: 1fr
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .header__logo {
    max-width: 6.25rem
  }
}
@media (min-width:20em)and (max-width:89.375em) {
  .menu__list {
    gap: clamp(.9375rem ,.3969594595rem + 2.7027027027vw ,2.8125rem)
  }
  .footer__container {
    gap: clamp(2.5rem ,.518018018rem + 9.9099099099vw ,9.375rem)
  }
  .footer__container {
    padding-block: clamp(1.25rem ,.5292792793rem + 3.6036036036vw ,3.75rem)
  }
  .footer__list {
    gap: clamp(.5rem ,.2837837838rem + 1.0810810811vw ,1.25rem)
  }
  .footer__column {
    gap: clamp(.625rem ,.1745495495rem + 2.2522522523vw ,2.1875rem)
  }
  .categories__container {
    gap: clamp(3.125rem ,2.2240990991rem + 4.5045045045vw ,6.25rem)
  }
  .categories__title {
    font-size: clamp(1.875rem ,1.3344594595rem + 2.7027027027vw ,3.75rem)
  }
  .list-categories {
    row-gap: clamp(.9375rem ,.2167792793rem + 3.6036036036vw ,3.4375rem)
  }
  .categories__body:not(.active) .list-categories {
    padding-block: clamp(1.5625rem ,-1.5906531532rem + 15.7657657658vw ,12.5rem)
  }
  .media-categories__description {
    font-size: clamp(1rem ,.8558558559rem + .7207207207vw ,1.5rem)
  }
  .categories__body.active {
    gap: clamp(1.875rem ,.6137387387rem + 6.3063063063vw ,6.25rem)
  }
  .social-block {
    gap: clamp(2.5rem ,1.4189189189rem + 5.4054054054vw ,6.25rem)
  }
  .social-block__title {
    font-size: clamp(1.875rem ,1.3344594595rem + 2.7027027027vw ,3.75rem)
  }
  .social-block__container {
    width: clamp(12.5rem ,-1.9144144144rem + 72.0720720721vw ,62.5rem)
  }
  .social-block__container {
    height: clamp(12.5rem ,-1.9144144144rem + 72.0720720721vw ,62.5rem)
  }
  .first-line {
    width: clamp(7.5rem ,-5.6531531532rem + 65.7657657658vw ,53.125rem)
  }
  .second-line {
    width: clamp(6.25rem ,-4.0202702703rem + 51.3513513514vw ,41.875rem)
  }
  .third-line {
    width: clamp(3.125rem ,-9.847972973rem + 64.8648648649vw ,48.125rem)
  }
  .fourth-line {
    width: clamp(3.4375rem ,-6.9228603604rem + 51.8018018018vw ,39.375rem)
  }
}
@media (any-hover:hover) {
  .menu__item:hover {
    color: var(--hover-text-white)
  }
  .menu__parent:hover .menu__sub-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: auto
  }
  .sub-menu__link:hover {
    color: var(--hover-text-black)
  }
  .list-footer__link:hover {
    color: var(--hover-text-white)
  }
  .socials-footer__link:hover {
    color: var(--secondary);
    background-color: var(--primary)
  }
  .list-categories__item:hover::after {
    opacity: 1
  }
  .list-categories__item:hover::before {
    background: radial-gradient(800px circle at var(--x-px) var(--y-px),#fff,transparent 40%)
  }
  .social-block__link:hover a {
    color: var(--secondary);
    background-color: var(--primary)
  }
}